.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.squareBox {
  background-color: black;
  color: white;
  padding: 0;
  text-align: center;
  margin-top: 20px;
  width: calc(20% - 20px);
  box-sizing: border-box;
}

.firstBox {
  margin-right: auto;
}

.secondBox {
  margin-left: 20px;
}

.thirdBox {
  margin-left: 20px;
}

.squareBox:before {
  content: "";
  display: block;
  padding-top: 100%;
}
