.container {
  display: flex;
}

.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  height: 300px;
  width: 150px;
}

.firstInnerBox {
  background-color: black;
  height: 100px;
  width: 100px;
}

.secondInnerBox {
  background-color: black;
  height: 100px;
  width: 100px;
}
