.container,
.outerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerBox {
  background-color: gray;
  height: 200px;
  width: 200px;
}

.innerBox {
  background-color: black;
  height: 100px;
  width: 100px;
}
