.container,
.outerBox {
  display: flex;
  align-items: end;
  justify-content: start;
}

.outerBox {
  background-color: black;
  height: 100px;
  width: 100px;
}

.innerBox {
  background-color: gray;
  height: 100px;
  width: 100px;
  top: 50px;
  right: 50px;
  position: relative;
}
