.container {
  display: flex;
}

.box{
  width: 100px;
  height: 100px;
  background-color: black;
}

.box2{
  background-color: gray;
  position: relative;
  top: 50px;
  left: -50px;
}

.box3{
  position: relative;
  top:100px;
  left: -100px;
}

.box4{
  background-color: gray;
  position: relative;
  top: 150px;
  left: -150px;
}

.box5{
  position: relative;
  top:200px;
  left: -200px;
}