.container,
.outerBox {
  display: flex;
  align-items: end;
  justify-content: start;
}

.outerBox {
  justify-content: end;
  background-color: gray;
  height: 200px;
  width: 200px;
}

.innerBox {
  background-color: black;
  height: 100px;
  width: 100px;
}
