.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
}

.outerBox {
  display: flex;
  align-items: start;
  justify-content: start;
}

.outerBox {
  background-color: gray;
  height: 150px;
  width: 400px;
}

.firstInnerBox {
  background-color: black;
  height: 100px;
  width: 100px;
  top: 50px;
  position: relative;
}

.secondInnerBox {
  background-color: black;
  height: 100px;
  width: 100px;
  left: 200px;
  position: relative;
}
