.container {
  display: flex;
  justify-content: center;
}

.outerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  height: 200px;
  width: 450px;
  margin-top: 20px;
}

.firstInnerBox {
  background-color: black;
  height: 133px;
  width: 133px;
  margin-left: 33px;
}

.secondInnerBox {
  background-color: black;
  height: 133px;
  width: 133px;
  margin-right: 33px;
}
