.container {
  display: flex;
  flex-direction: column;
}

.squareBox {
  background-color: black;
  width: calc(20% - 20px);
  height: 0;
  padding-bottom: calc(20% - 20px);
}

.firstBox {
  display: flex;
  justify-content: flex-end;
  order: 3;
}

.secondBox {
  display: flex;
  justify-content: center;
  order: 2;
}

.thirdBox {
  display: flex;
  justify-content: flex-start;
  order: 1;
}

