.container {
  position: relative;
  width: 420px;
  height: 360px;
}

.box1,
.box4 {
  width: 200px;
  height: 200px;
  background-color: gray;
}

.box2,
.box3 {
  width: 100px;
  height: 100px;
  background-color: black;
}

.box2{
  position: absolute;
  top: 0;
  right: 0;
}

.box3{
  position: absolute;
  bottom: 0;
}

.box4{
  position: absolute;
  right: 0;
  bottom: 0;
}
