.container {
  display: flex;
}

.outerBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: gray;
  height: 450px;
  width: 200px;
}

.firstInnerBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: black;
  height: 200px;
  width: 166px;
  position: relative;
  left: 84px;
}

.secondInnerBox {
  background-color: skyblue;
  height: 133px;
  width: 133px;
  position: relative;
  top: 66px;
  right: 84px;
}
